
:root {
  --primary: #FED941;
  --white: #FFFFFE;
  --grey: #A7A9BE;
  --background-20: #0F0E17;
  --background-dark: #000000;
  --basefontFamily: Lato, Helvetica, sans-serif;
  --headline1: 800 3rem/normal var(--basefontFamily);
  --headline2: 700 2.875rem/normal var(--basefontFamily);
  --headline3: 700 2.313rem/normal var(--basefontFamily);
  --headline4: 700 1.75rem/normal var(--basefontFamily);
  --headline5: 700 1.563rem/normal var(--basefontFamily);
  --body-bold: 700 1.125rem/normal var(--basefontFamily);
  --body-regular: 400 1.125rem/normal var(--basefontFamily);
  --body-bold-2: 700 1rem/normal var(--basefontFamily);
  --body-regular-2: 400 1rem/normal var(--basefontFamily);
  --button: 700 1.125rem/normal var(--basefontFamily);
  --baseFont: normal 1rem/normal var(--basefontFamily);
}


body {
  background: var(--background-dark);
  font: var(--basefont);
  color: var(--white);
  margin: 0;

}

@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icommon-fonts/icomoon.eot?5x5mi1');
  src:  url('./fonts/icommon-fonts/icomoon.eot?5x5mi1#iefix') format('embedded-opentype'),
    url('./fonts/icommon-fonts/icomoon.ttf?5x5mi1') format('truetype'),
    url('./fonts/icommon-fonts/icomoon.woff?5x5mi1') format('woff'),
    url('./fonts/icommon-fonts/icomoon.svg?5x5mi1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-bell:before {
  content: "\e902";
}
.icon-play:before {
  content: "\e903";
}
.icon-star:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e906";
}
